.banner-area{
    height:9vh;
    display: flex;
    width: 100%;
    /* background-color: blueviolet; */
}
.header-logo{
    height: 80%;
    margin-top: 10px;
}

.header-bar{
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    max-width: 1170px;
    margin: 0 auto;
}

.nav-bar{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 20px;
    color: #fff;
    margin-left: auto;

}

.navbar-list{
    display: flex;
    justify-content: space-between;
    margin: 0px;
    align-items: center;
}

.navbar-list_items{
    list-style: none;
    display: flex;
    padding-right: 55px;
}

.navbar-list_lastitem{
    list-style: none;
    padding-right: 0;
}

.navitem-link{
    color: #fff;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 19px;
    color: #FFFFFF;
    text-decoration: none;
    text-align: center;
    font-family: system-ui;
}
.start-learning_btn-link{
    text-decoration: none;
}

.start-learning_btn.css-sghohy-MuiButtonBase-root-MuiButton-root{
        font-style: normal !important; 
        font-weight: 600 !important;
        font-size: 16px !important;
        text-decoration: none !important;
        text-transform: none !important;
        letter-spacing: 0 !important;
        line-height: 19px !important;
        color: #FFFFFF !important;
        display: flex !important;
        align-items: center !important;
        justify-content: center !important;
        width: 164px !important;
        height: 56px !important;
        background: linear-gradient(241.71deg, #32C5FF -23.05%, #A3BF4A 95.65%) !important;
        border-radius: 6px !important;
        text-align: center !important;
        font-family: 'Poppins', sans-serif !important;
}

.start-learning_btn.css-1hw9j7s{
    font-style: normal !important; 
    font-weight: 600 !important;
    font-size: 16px !important;
    text-decoration: none !important;
    text-transform: none !important;
    letter-spacing: 0 !important;
    line-height: 19px !important;
    color: #FFFFFF !important;
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
    width: 164px !important;
    height: 56px !important;
    background: linear-gradient(241.71deg, #32C5FF -23.05%, #A3BF4A 95.65%) !important;
    border-radius: 6px !important;
    text-align: center !important;
    font-family: 'Poppins', sans-serif !important;
}

.logo{
    height:100%;
    margin-left: -12px;
}

.codeground-header.header-bar{
    margin-left: 20px;
    margin-right: 20px;
    max-width: 100%;
}

.navbar-list_about{
    list-style: none;
    display: flex;
    padding-right: 55px;
}